<div class="villaBlockContainer" itemscope="http://schema.org/LodgingBusiness" id="item0" style="position: relative; visibility: visible;">

    <%= link_to image_tag(villa.images.first, class: 'villaPhoto', itemprop: 'photo', alt: villa.name), villa, class: 'villaPhotoUrl', itemprop: 'url' %>
    <div class="villaSpecsContainer">
        <div class="villaRegionTitle ellipsis">
            <h2 itemprop="name"><%= villa.name %></h2>
        </div>
        <div class="villaRegionSubTitle">
            <h3><%= villa.pretty_location %></h3>
        </div>
        <div class="villaFeatures">
            <ul class="clear-fix">
                <li><span class="bedCount"><%= villa.bedrooms %></span> <%= t(:bedrooms, scope: 'villas') %><span></span></li>

                <li>, <span class="bathCount"><%= villa.bathrooms %> </span><%= t(:bathrooms, scope: 'villas') %></li>
            </ul>
        </div>

        <div class="villaPrice" itemprop="priceRange">
            <span class="vpMin"><%= number_to_currency(villa.price_from, precision: 0) %></span>
            <span class="dollarSymbol">- </span>
            <span class="vpMax"><%= number_to_currency(villa.price_to, precision: 0) %></span>
            <span class="nightly">/<%= t(:per_night, scope: 'villas') %></span>
        </div>

        <div class="villaDetailsLink">
            <%= link_to t(:detail, scope: 'villas'), villa %>
        </div>
        <div class="addWishlist">
            <a id="wishlist_111635" href="javascript:;" class="iAddFavorite"><%= t(:add_to_favorites, scope: 'villas') %>:</a>
        </div>
    </div>
</div>
