<%= stylesheet_link_tag "destination-page", "data-turbolinks-track" => true %>
<body id="destinationSearch">
    <section>

        <article style="margin-top: 200px !important;">
            <div id="contentBlock">
                <div id="searchHeadContainer" style="visibility: visible;">
                    <div id="tltWrapper">
                        <h2>
                            <span><%= t(:browse, scope: 'villas') %></span><span style="padding-left:8px;"><%= t(:browse_villas, scope: 'villas') %></span><span id="villaTotalCount"><%= @villas.total_count %></span>
                        </h2>
                    </div>
                </div>

                <div id="ajaxResult">
                    <%= render @villas, sale: !!params[:q][:sale_eq] %>
                </div>

                <div id="infinite-scrolling" style="margin-bottom: 100px;">
                  <%= paginate @villas %>
                </div>
            </div>

            <!--end of search Nav -->
            <div id="scrollTop" class="scrollTop">
                <div class="scrollTopImg"></div>
            </div>
        </article>
    </section>
        <%= render 'layouts/header' %>

    <footer>
        <div id="scrollFooter">
            <div class="copyRight">Copyright &copy; <%= Time.now.year %> Paloma Co., Ltd. ALL Rights Reserved.</div>
            <%= search_form_for @q do |f| %>
                <div class="autoCompleteWrapper" class="ui-widget">
                    <%= f.text_field :name_cont, class: 'tbAutocomplete', id: 'tags' %>
                    <span class="iSearch"></span>
                </div>
            <% end %>
            <div class="clearer"></div>
        </div>
    </footer>
</body>
