<%= stylesheet_link_tag "villa", "data-turbolinks-track" => true %>
<%= javascript_include_tag "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry" %>
<%= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
<%= javascript_include_tag "underscore" %>
<%= javascript_include_tag "gmaps/google" %>
<%= javascript_include_tag "gmaps_init" %>

<body id="VillaPage">
    <section>
        <input type="hidden" id="pageF" />

        <div class="bodyLength mainWrapper clearfix">

            <article class="villaContentWrapper" itemscope="http://schema.org/LodgingBusiness">
                <div id="carrousel" class="carrousel">
                    <div class="rsTopContent">
                        <div class="rsTopContentWrapper">
                            <a class="btnFullscreenClose hidden" href="javascript:;">CLOSE X</a>
                        </div>
                    </div>

                    <div id="gallery-1" class="royalSlider rsDefault">
                        <div class="fotorama" data-nav="thumbs" data-width="800" data-height="530" data-allowfullscreen="true" data-autoplay="true">
                            <%- @villa.images.each do |image| %>
                              <%= link_to asset_path(image.image.url) do %>
                                <%= image_tag image.image.url(:thumb) %>
                              <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div id="villaAnchorMenu" class="villaAnchorMenu normal">
                        <ul>
                            <li><a class="linksToOverview" href="#anchorOverview"><span><%= t(:overview, scope: 'villas') %></span></a></li>
                            <li><a class="linksToAreaMap" href="#anchorAreaMap"><span><%= t(:area_map, scope: 'villas') %></span></a></li>
                        </ul>
                    </div>
                    <div class="villa-reservation normal">
                        <div class="rateCalculatorBoxWrapper">
                            <div class="rateCalculatorBox">
                                <div class="rateCalculatorBox-title"><%= t(:your_trip, scope: 'villas') %></div>
                                <form class="rateCalculatorForm beta" id="rateCalculatorFormVp" method="post" name="rateCalculator_form" data-propertyid="112912">
                                    <input id="hDepartDate" name="hDepartDate" type="hidden" value="CHECK-IN" />
                                    <input id="hReturnDate" name="hReturnDate" type="hidden" value="CHECK-OUT" />
                                    <input id="foundUs" name="foundUs" type="hidden" />
                                    <div>

                                        <input id="departDate" type="text" value="CHECK-IN" name="txtDepart" readonly="readonly" />
                                    </div>

                                    <div>

                                        <input id="returnDate" type="text" value="CHECK-OUT" name="txtReturn" readonly="readonly" />
                                    </div>

                                    <div id="estimatedPrice" class="estimatedPrice hidden">
                                        <div class="calculatorSubtotal">Subtotal:</div>
                                        <span id="calculatedPrice" class="calculatedPrice">$0</span> <span class="asterisk"></span>
                                    </div>
                                    <div id="promoPriceWrapper" class="promoPriceWrapper hidden">
                                        <div class="comparisonPriceWrapper">Subtotal:<span id="comparisonPrice"></span></div>
                                        <div class="promoCalculatorSubtotal">Sale Price:</div>
                                        <span id="promoCalculatedPrice" class="promoCalculatedPrice">$0</span>
                                    </div>
                                    <div id="estimatedPriceNote" class="estimatedPriceNote hidden">(Subject to taxes &amp; fees)</div>
                                    <div id="noPricingMessage" class="noPricingMessage hidden">
                                        We’ll need to confirm these dates for you – please inquire below.
                                    </div>
                                    <div id="priceRangeMessage" class="priceRangeMessage hidden">
                                        We’ll need to confirm these dates for you – please inquire below.
                                    </div>
                                    <div id="minNightsMessage" class="minNightsMessage hidden">
                                        Minimum night stay not met. To book direct, you can change your check-in/out date OR inquire below and we’ll see what we can do.
                                    </div>

                                    <div id="promotionMessage" class="promotionMessage hidden">
                                        Special offers may apply! Inquire now for exact pricing.
                                    </div>
                                    <div id="yearAwayMessage" class="yearAwayMessage hidden">
                                        We’ll need to confirm these dates for you – please inquire below.
                                    </div>
                                    <div id="inquireMessage" class="inquireMessage hidden">
                                        We’ll need to confirm these dates for you – please inquire below.
                                    </div>
                                    <div id="selectedDateUnavailableMessage" class="selectedDateUnavailableMessage hidden">
                                        Selected dates are unavailable.
                                    </div>


                                    <div class="inquiryNowCalculatorWrapper align-center">
                                        <a id="inquiryNowCalculator" class="inquiryNowCalculator inquireNow" href="javascript:;"><%= t(:inquire, scope: 'villas') %></a>
                                    </div>


                                    <div class="villaPhoneWrapper">
                                        <span class="iPhone"></span>
                                        <div class="villaPhone">
                                            <div style="padding-top: 10px;">+44 208 144 55 64</div>
                                        </div>
                                    </div>


                                </form>
                                <form action="/booknow" method="POST" id="bookNowForm">
                                    <input type="hidden" id="bookingSessionId" name="bookingSessionId" />
                                    <input type="hidden" id="bookingVillaId" name="bookingVillaId" />
                                    <input type="hidden" id="bookingVillaName" name="bookingVillaName" />
                                    <input type="hidden" id="bookingArrivalDate" name="bookingArrivalDate" />
                                    <input type="hidden" id="bookingDepartureDate" name="bookingDepartureDate" />
                                    <input type="hidden" id="bookingBedrooms" name="bookingBedrooms" />
                                    <input type="hidden" id="bookingCalculatedPrice" name="bookingCalculatedPrice" />
                                    <input type="hidden" id="bookingPriceRuleId" name="bookingPriceRuleId" />
                                    <input type="hidden" id="bookingBedroomString" name="bookingBedroomString" />
                                </form>
                            </div>
                        </div>
                        <div class="lrStandardBox">
                            <div class="lrStandardTlt">
                                Every Trip Includes:
                            </div>
                            <ul class="noBullet">
                                <li class="lrStandard-item"><i class="iQuality"></i>100+ Point Inspected Home</li>
                                <li class="lrStandard-item"><i class="iAdvice"></i>Property Advice</li>
                                <li class="lrStandard-item"><i class="iConcierge"></i>Personal Concierge</li>
                                <li class="lrStandard-item"><i class="i24hrs"></i>Guest Support</li>
                                <li class="lrStandard-item"><i class="iSuggestions"></i>Local Expertise</li>
                            </ul>

                        </div>

                    </div>
                    <div class="topContent villaMainContent clearfix">

                        <h1 id="villaName" class="villa-name" itemprop="name"><%= @villa.name %></h1>
                        <div class="villaPrice">

                                <span class="uppercase price" itemprop="priceRange"><%= number_to_currency(@villa.price_from, precision: 0) %> - <%= number_to_currency(@villa.price_to, precision: 0) %></span>


                            <span class="perNight">
                                    <span class="asterisk">*</span>
                                /<%= t(:per_night, scope: 'villas') %>
                            </span>
                        </div>
                        <div class="villa-specs">
                            <div>
                                <span><%= @villa.pretty_location %></span>
                            </div>
                            <div id="villa-vitals" class="villa-vitals"><%= @villa.bedrooms %>&#160;<%= t(:bedrooms, scope: 'villas') %>, <%= @villa.bathrooms %>&#160;<%= t(:bathrooms, scope: 'villas') %></div>
                        </div>

                    </div>
                    <div id="anchorOverview" class="bottomContent villaMainContent clearfix">

                        <div class="villaMainContent">



                            <div class="villa-description beta">
                                <div class="villaSectionTitle"><%= t(:overview_and_features, scope: 'villas') %></div>
                                <div id="fullview" class="fullview">
                                    <%= simple_format(@villa.description) %>
                                </div>
                                <div id="shortview" class="shortview" itemprop="description">
                                    <%= simple_format(truncate @villa.description, length: 300) %>
                                </div>
                            </div>

                            <div id="readMoreLnk" class='readMoreLnk villa-link'>[ <%= t(:read_more, scope: 'villas') %> + ] </div>
                            <div id="readLessLnk" class='readLessLnk villa-link'>[ <%= t(:read_less, scope: 'villas') %> - ] </div>


                            <hr id="anchorAreaMap" />
                            <div class="mapSection">
                                <div class="villaSectionTitle"><%= t(:area_map, scope: 'villas') %></div>
                                <div class="mapWrapper">
                                    <div id="map" class="map" data-hash="<%= @hash.to_json %>" data-zoom="<%= @villa.zoom %>"></div>

                                </div>
                                <div><%= t(:area_map_desc, scope: 'villas') %></div>

                            </div>

                        </div>
                    </div>
                    <div class="uppercase villa-Id">ID #<%= @villa.id %></div>


                </div>
            </article>


            <aside class="villaRelatedContent">
                <div id="searchNavContainer" style="display: block;">
                    <div id="btnBack">
                        <%= link_to villas_path, class: 'black-link', id: 'lnBack' do %>
                            <span class="iBack"></span><%= t(:back, scope: 'villas') %>
                        <% end %>
                    </div>
                </div>

                <div class="suggestionBox">

                    <h2 class="suggestionBox-title uppercase">You may also like</h2>
                    <ul class="noBullet">
                        <% @villa.featured.each do |villa| %>
                            <li class="suggestionBox-item">
                                <%= link_to villa do %>
                                    <div class="suggestionBox-img">
                                        <%= image_tag villa.images.first.image.url %>
                                    </div>
                                    <h3 class="suggestionBox-name uppercase"><%= villa.name %></h3>
                                    <p class="suggestionBox-specs"><%= villa.pretty_location %><br><%= villa.bedrooms %>&#160;<%= t(:bedrooms, scope: 'villas') %>, <%= villa.bathrooms %>&#160;<%= t(:bathrooms, scope: 'villas') %></p>
                                <% end %>
                            </li>
                        <% end %>
                    </ul>
                </div>


            </aside>
        </div>

        <div id="scrollTop" class="scrollTop">
            <div class="scrollTopImg"></div>
        </div>
    </section>

    <%= render 'layouts/header' %>
    <%= render 'layouts/footer' %>

    <%= render 'requests/enquire_form', villa: @villa %>
</body>
