<%= form_for @request, id: 'fmInformationRequestHm', remote: true do |f| %>
    <div class="homeFormRow">
        <div class="homeFormCol">
            <label id="lblInfoFirstNameHm" for="tbInfoFirstNameHm" class="labelHmInquiry">Your Name<span class="asterisk">*</span></label>
            <%= f.text_field :first_name, id: 'tbInfoFirstNameHm', class: 'inputHmInquiry rounded', placeholder: 'First Name' %>
        </div>
        <div class="homeFormCol">
            <label id="lblInfoLastNameHm" for="tbInfoLastNameHm" class="labelHmInquiry"></label>
            <%= f.text_field :last_name, id: 'tbInfoLastNameHm', class: 'inputHmInquiry rounded', placeholder: 'Last Name' %>
        </div>
    </div>
    <div class="homeFormRow">
        <div class="homeFormCol">
            <label id="lblInfoEmailAddressHm" for="tbInfoEmailAddressHm" class="labelHmInquiry">Contact Info<span class="asterisk">*</span></label>
            <%= f.text_field :email, id: 'tbInfoEmailAddressHm', class: 'inputHmInquiry rounded', placeholder: 'Email' %>
        </div>
        <div class="homeFormCol">
            <label id="lblInfoPhoneNumberHm" for="tbInfoPhoneNumberHm" class="labelHmInquiry"></label>
            <%= f.text_field :phone, id: 'tbInfoPhoneNumberHm', class: 'inputHmInquiry rounded', placeholder: 'Phone Number' %>
        </div>
    </div>
    <div class="homeFormRow">
        <div class="homeFormCol">
            <label id="lblInfoCheckInDateHm" for="dpInfoCheckInDateHm" class="labelHmInquiry">Tentative Travel Dates</label>
            <%= f.text_field :check_in, id: 'dpInfoCheckInDateHm', class: 'inputHmInquiry rounded', placeholder: 'Check-In (MM/DD/YYY)' %>
        </div>
        <div class="homeFormCol">
            <label id="lblInfoCheckOutDateHm" for="dpInfoCheckOutDateHm" class="labelHmInquiry"></label>
            <%= f.text_field :check_out, id: 'dpInfoCheckOutDateHm', class: 'inputHmInquiry rounded', placeholder: 'Check-Out (MM/DD/YYY)' %>
        </div>
    </div>
    <div class="homeFormRow">
        <label id="lblInfoAdditionalCommentsHm" for="tbInfoAdditionalCommentsHm" class="labelHmInquiry rounded">Anything else?</label>
        <%= f.text_area :comments, id: 'tbInfoAdditionalCommentsHm', class: 'tbAdditionalCommentsHm rounded' %>
    </div>

    <%= f.button id: 'submitInfoHm', class: 'submitInfoHm titleFont' do %>
        <div id="divInfoSubmitHm" class="divInfoSubmitHm rounded">
            SUBMIT
        </div>
    <% end %>
<% end %>
