<%= render 'layouts/slider' %>

<div class="row-fluid purchase margin-bottom-30">
    <div class="container">
    <div class="span9">
            <span>Unify is a clean and fully responsive incredible Template.</span>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi  vehicula sem ut volutpat. Ut non libero magna fusce condimentum eleifend enim a feugiat.</p>
        </div>
        <a href="https://wrapbootstrap.com/theme/unify-responsive-website-template-WB0412697" class="btn-buy hover-effect">Purchase Now</a>
    </div>
</div><!--/row-fluid-->
<!-- End Purchase Block -->

<!--=== Content Part ===-->
<div class="container-fluid one-page">
    <div class="one-page-inner one-default">
        <div class="container">
            <h1>At vero eos et accusamus et iusto odio dignissimos</h1>
            <div class="row-fluid">
                <div class="span6">
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus..</p>
                    <p>Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
                    <a class="btn-u btn-u-large btn-u-green one-page-btn"><i class="icon-bolt"></i> libero adipiscing</a>
                </div>
                <div class="span6">
                  <div id="myCarousel" class="carousel slide">
                    <div class="carousel-inner">
                      <% [1, 5, 10].each do |i| %>
                        <div class="item <%= 'active' if i == 1 %>">
                          <%= image_tag "img/new/img#{i}.jpg", class: 'span12' %>
                          <div class="carousel-caption">
                            <h4>First Thumbnail label</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta.</p>
                            </div>
                        </div>
                      <% end %>
                    </div>
                    <div class="carousel-arrow">
                      <a data-slide="prev" href="#myCarousel" class="left carousel-control"><i class="icon-angle-left"></i></a>
                      <a data-slide="next" href="#myCarousel" class="right carousel-control"><i class="icon-angle-right"></i></a>
                    </div>
                  </div>
                  <%#= image_tag 'img/new/img5.jpg', class: 'margin-bottom-10' %>
                </div>
            </div>
        </div>
    </div>

    <div class="one-page-inner one-blue">
        <div class="container">
            <h1>At vero eos et accusamus et iusto odio dignissimos</h1>
            <div class="row-fluid">
                <div class="span6">
                    <%= image_tag 'img/new/img1.jpg', class: 'margin-bottom-10' %>
                </div>
                <div class="span6">
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus..</p>
                    <p>Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
                    <a class="btn-u btn-u-large btn-u-red one-page-btn"><i class="icon-bell"></i> libero adipiscing</a>
                </div>
            </div>
        </div>
    </div>

    <div class="one-page-inner one-grey">
        <div class="container">
            <h1>Molestias excepturi sint occaecati cupiditate</h1>
            <div class="row-fluid margin-bottom-40">
                <div class="span6">
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus..</p>
                    <p>Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
                    <a class="btn-u btn-u-large btn-u-blue one-page-btn"><i class="icon-bullhorn"></i> libero adipiscing</a>
                </div>
                <div class="span6">
                    <%= image_tag 'img/new/img7.jpg', class: 'margin-bottom-10' %>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <%= image_tag 'img/new/img6.jpg', class: 'margin-bottom-10' %>
                </div>
                <div class="span6">
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus..</p>
                    <p>Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
                    <a class="btn-u btn-u-large btn-u-orange one-page-btn"><i class="icon-briefcase"></i> libero adipiscing</a>
                </div>
            </div>
        </div>
    </div>

    <div class="one-page-inner one-red">
        <div class="container">
            <h1>At vero eos et accusamus et iusto odio dignissimos</h1>
            <div class="row-fluid">
                <div class="span6">
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus..</p>
                    <p>Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
                    <a class="btn-u btn-u-large btn-u-green one-page-btn"><i class="icon-comments-alt"></i> libero adipiscing</a>
                </div>
                <div class="span6">
                    <%= image_tag 'img/new/img10.jpg', class: 'margin-bottom-10' %>
                </div>
            </div>
        </div>
    </div>

    <div class="one-page-inner one-default">
        <div class="container">
            <h1>At vero eos et accusamus et iusto odio dignissimos</h1>
            <div class="row-fluid">
                <div class="span6">
                  <%= image_tag 'img/carousel/8.jpg', class: 'margin-bottom-10' %>
                </div>
                <div class="span6">
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus..</p>
                    <p>Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
                    <ul class="thumbnails">
                        <li class="span3">
                            <a href="<%= assets_path 'img/carousel/1.jpg' %>" title="Project #2" data-rel="fancybox-button" class="fancybox-button zoomer">
                                <div class="overlay-zoom">
                                  <%= image_tag 'img/carousel/1.jpg' %>
                                    <div class="zoom-icon"></div>
                                </div>
                            </a>
                        </li>
                        <li class="span3">
                            <a href="<%= assets_path 'img/carousel/2.jpg' %>" title="Project #2" data-rel="fancybox-button" class="fancybox-button zoomer">
                                <div class="overlay-zoom">
                                  <%= image_tag 'img/carousel/2.jpg' %>
                                    <div class="zoom-icon"></div>
                                </div>
                            </a>
                        </li>
                        <li class="span3">
                            <a href="<%= assets_path 'img/carousel/3.jpg' %>" title="Project #2" data-rel="fancybox-button" class="fancybox-button zoomer">
                                <div class="overlay-zoom">
                                  <%= image_tag 'img/carousel/3.jpg' %>
                                    <div class="zoom-icon"></div>
                                </div>
                            </a>
                        </li>
                        <li class="span3">
                            <a href="<%= assets_path 'img/carousel/4.jpg' %>" title="Project #2" data-rel="fancybox-button" class="fancybox-button zoomer">
                                <div class="overlay-zoom">
                                  <%= image_tag 'img/carousel/4.jpg' %>
                                    <div class="zoom-icon"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <a class="btn-u btn-u-large btn-u-red one-page-btn"><i class="icon-thumbs-up"></i> libero adipiscing</a>
                </div>
            </div>
            <hr />
            <div class="row-fluid">
               <div class="span3">
                  <h3><a href="#">Consectetur adipiscing</a></h3>
                  <p>Pellentesque viverra vehicula sem ut volutpat dosum molor sit amet, consectetur adipiscing elit</p>
               </div>
               <div class="span3">
                  <h3><a href="#">Ut volutpat dosum</a></h3>
                  <p>Lunt in lpa qui officia deserunt mollitia mo animi, asdid leoff iscia est labor le harum quidem rerum facilis</p>
               </div>
               <div class="span3">
                  <h3><a href="#">Viverra de esque</a></h3>
                  <p>Volutpat dosum esque viverra ved et quam lacusehicula sem ut  molorviverra sit amet, consetetur edipiscin la</p>
               </div>
               <div class="span3">
                  <h3><a href="#">Sem ut volutpat dum</a></h3>
                  <p>Deleniti atque corrupa vehicula sem ut volutpat dosum molor sit amet, consectetur adipiscing praesentium</p>
               </div>
            </div>
        </div>
    </div>
</div><!--/container-fluid-->
<!-- End Content Part -->
