<%= stylesheet_link_tag "home", "data-turbolinks-track" => true %>
<body id="HomePage">

<section>

    <!-- end of mainContentWrapper -->
    <div class="bannerWrapper">
        <div class="fotorama" data-width="100%" data-ratio="1345/500" data-autoplay="true">
            <% HomePhoto.for_home.each do |image| %>
              <%= link_to asset_path(image.image.url) do %>
                <%= image_tag image.image.url(:thumb) %>
              <% end %>
            <% end %>
        </div>
    </div>

    <div class="content">
        <div class="section threeThings">
            <div class="title titleFont uppercase">3 Things <span class="extraBold">you should know</span> about us </div>
            <div class="imgThreeWrapper">
                <%= image_tag 'home_3things.jpg', width: 798, height: 165 %>
            </div>
            <div class="blockWrapper">
                <div class="block">
                    <div class="sectionTitle titleFont uppercase">Quality. Assured.</div>
                    <div class="text">
                        Our team hand picks every luxury vacation<br />
                        rental. Yes, that means we don’t offer<br />
                        100,000 but that the ones we do are<br />
                        personally inspected by our staff.
                    </div>
                </div>

                <div class="block">
                    <div class="sectionTitle titleFont uppercase">The perfect match</div>
                    <div class="text">
                        We’re proud to say we know our villas inside<br />
                        out, and we’ll go the extra mile to make sure<br />
                        you get the right vacation home<br />
                        in the right location.
                    </div>
                </div>
                <div class="block">
                    <div class="sectionTitle titleFont uppercase">At your service 24/7</div>
                    <div class="text">
                        From arranging a private chef to pre-stocking<br />
                        your villa with provisions, our concierge<br />
                        team cares about the little things<br />
                        so you don’t have to.
                    </div>
                </div>
            </div>
        </div>

        <div class="section contactBlock">

            <div class="formSideText">
                <div class="titleFont uppercase">Not sure where to start?</div>
                <div class="seperator"></div>
                <div class="subTitle">We love a challenge!</div>
                <div class="text">
                    Our Villa Specialists have traveled the world<br />
                    to find the right vacation home for you –
                    <br />
                    so let’s start planning your next trip.
                </div>
            </div>
            <div class="formArea">
                <%= render 'shared/request_form' %>

                <div id="thankYouWrapperHm" class="hidden">
                    <div class="titleFont">Thank You!</div>
                    <p class="thankYouHm">
                        A Villa Specialist will contact you shortly.
                    </p>
                    <br />
                </div>
            </div>
        </div>
    </div>

    <div id="scrollTop" class="scrollTop">
        <div class="scrollTopImg"></div>
    </div>
  </section>

  <%= render 'layouts/header' %>

  <%= render 'layouts/footer' %>
</body>
