<%= stylesheet_link_tag "destination-page", "data-turbolinks-track" => true %>
<body id="destinationSearch">
    <section>

        <article>
            <div id="bannerWrapper" itemscope itemtype="https://schema.org/Place">
                <div id="bannerLeftFade">
                </div>
                <div id="bannerRightFade">
                </div>
                <div id="bannerHeading">
                    <h1>
                        <label class="tltHeader"><span id="tltHeader" itemprop="name"><%= @area.name %></span></label>
                    </h1>
                            <span class="txtHeader"><label class="txtSubTitle"><span itemprop="description">Set your watch
             to island time and unwind in Caribbean villas.</span></label></span>

                </div>
                <%= image_tag 'caribbean.jpg', alt: 'Caribbean', class: 'destinationBanner', itemprop: 'photo' %>
            </div>

            <nav id="searchContainer">

                <div id="searchNavContainer" style="display: block;">

                    <div id="btnBack">
                        <%= link_to t(:back, scope: 'villas'), @area.parent if @area.parent %>
                    </div>
                    <ul id="ajaxSearchNav">
                        <% @area.children.each do |area| %>
                            <li id="item<%= area.id %>" style="display: list-item;">
                                <%= link_to area do %>
                                    <span class="snName"><%= area.name %></span> (<span class="snCount"><%= area.villas.count %></span>)
                                <% end %>
                            </li>
                        <% end %>
                    </ul>

                </div>
                <div class="navPromoBlock">
                    <div class="uppercase navPromoBlock-title">Got a question?<br>Give us a call!</div>
                    <div class="navPromoBlock-phone">
                        <div class="navPromoBlock-phoneNumber">
                            <strong>Russia:</strong> <br>+7 903 978 75 85
                        </div>
                        <div class="navPromoBlock-phoneNumber">
                            <strong>Thailand:</strong> <br>+66 910 43 43 10
                        </div>
                        <div class="navPromoBlock-phoneNumber">
                            <strong>United Kingdom:</strong> <br>+44 208 144 55 64
                        </div>
                    </div>
                </div>
            </nav>

            <div id="contentBlock">
                <div id="searchHeadContainer">
                    <div id="tltWrapper">
                        <h2>
                            <span><%= t(:browse, scope: 'villas') %></span><span style="padding-left:8px;"><%= t(:browse_villas, scope: 'villas') %></span><span id="villaTotalCount"><%= @villas.total_count %></span><span id="hdrDestination"><%= @area.name %></span>
                        </h2>
                    </div>
                </div>

                <div id="ajaxResult">
                    <%= render @villas %>
                </div>

                <div id="infinite-scrolling" style="margin-bottom: 100px;">
                  <%= paginate @villas %>
                </div>
            </div>

            <!--end of search Nav -->
            <div id="scrollTop" class="scrollTop">
                <div class="scrollTopImg"></div>
            </div>
        </article>
    </section>
        <%= render 'layouts/header' %>

    <footer>
        <div id="scrollFooter">
            <div class="copyRight">Copyright &copy; <%= Time.now.year %> Paloma Co., Ltd. ALL Rights Reserved.</div>
            <%= search_form_for @q do |f| %>
                <div class="autoCompleteWrapper" class="ui-widget">
                    <%= f.text_field :name_cont, class: 'tbAutocomplete', id: 'tags' %>
                    <span class="iSearch"></span>
                </div>
            <% end %>
            <div class="clearer"></div>
        </div>
    </footer>
</body>
