<header>
  <div id="headerWrapper">
      <nav>
          <ul id="mainMenu" class="mainMenu">
              <li id="navHome"><a href="/" class="level1"><%= t(:home, scope: 'navigation') %></a>
              <li id="navDestination"><a href="javascript:;" class="level1"><%= t(:destinations, scope: 'navigation') %></a>
                <div class="subs">
                  <div>
                    <ul class="level1 navDestinationBlock">
                      <li>
                        <div id="topNav" class="clear-fix">
                          <% Area.roots.each do |root_area| %>
                            <ul class="topDestinationListBlock">
                              <li>
                                <h3 class="topDestinationTlt">
                                  <%= link_to root_area.name, root_area %>
                                </h3>
                                <ul>
                                  <% root_area.children.each do |area| %>
                                    <li>
                                      <%= link_to area.name, area %>
                                    </li>
                                  <% end %>
                                </ul>
                              </li>
                            </ul>
                          <% end %>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li id="navAbout"><a href="#" class="level1"><%= t(:about, scope: 'navigation') %></a>
              </li>
              <li id="navContact"><a href="javascript:;" class="level1"><%= t(:contact, scope: 'navigation') %> <span class="contactNum">+44 208 144 55 64</span></a>
                  <div class="subs">
                      <div>
                          <ul class="navContactBlock">
                              <li><span class="navContactDesc"><%= t(:speak, scope: 'navigation') %></span>
                                <div id="numbers">
                                  <div>RUSSIA:&nbsp;<span style="display: inline-block">+7 903 978 75 85</span></div>
                                  <div>THAILAND:&nbsp;<span style="display: inline-block">+66 910 43 43 10 </span></div>
                                  <div>UNITED KINGDOM:&nbsp;<span style="display: inline-block">+44 208 144 55 64 </span></div>
                                </div>
                                <%= link_to contact_path, class: 'navContactPageLink' do %>
                                  <%= t(:more_contacts) %><span class="iLinkArrow"></span>
                                <% end %>
                              </li>
                          </ul>
                      </div>
                  </div>
              </li>
                <% if I18n.locale == :en %>
                  <li>
                    <%= link_to "Russian", '?locale=ru' %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to "English", '?locale=en' %>
                  </li>
                <% end %>
          </ul>

      </nav>



      <div class="subNav">
          <div class="rightSide">

              <ul>
                  <li class="lnkSeachFilter searchControls itemWrapper">
                    <%= link_to rental_filters_path, remote: true, class: 'openSearchFilter' do %>
                      <span class="arrowRB"><%= t(:rental, scope: 'navigation') %></span>
                    <% end %>
                  </li>
                  <li class="lnkSeachFilter searchControls itemWrapper">
                    <%= link_to sale_filters_path, remote: true, class: 'openSearchFilter' do %>
                      <span class="arrowRB"><%= t(:sale, scope: 'navigation') %></span>
                    <% end %>
                  </li>
              </ul>
          </div>
          <div id="breadCrumb" >
              <span style="float: left;" id="bcHomeLnk"><a href="/"><%= t(:home, scope: 'navigation') %>&nbsp;:&nbsp;</a></span>
          </div>
          <ul style="display: none;">
              <li id="bcItemTemplate"><a href="" class="bcUrl"><span class="bcName"></span><span class="colon">:</span></a></li>
          </ul>
      </div>
  </div>

  <div class="headerDropdownWrapper" style="<%= 'display: none;' if (controller_name == 'villas' && action_name == 'show') || (action_name == 'contact') %>">
    <% if params[:q][:rental_eq] %>
      <%= render 'shared/rental_filters' %>
    <% else %>
      <%= render 'shared/sale_filters' %>
    <% end %>
  </div>
</header>
