<div class="navbar">
  <div class="navbar-inner">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a><!-- /nav-collapse -->
    <div class="nav-collapse collapse">
      <ul class="nav top-2">
        <li>
          <%= link_to image_tag('phone_img.png') + t('navigation.phone_number'), '#', class: 'phone_number' %>
        </li>
        <li class="<%= 'active' if controller_name == 'villas' && action_name == 'index' %>">
          <%= link_to t('navigation.house_rentals'), villas_path %>
        </li>
        <li class="<%= 'active' if action_name == 'sales' %>">
          <%= link_to t('navigation.house_sales'), sales_path %>
        </li>
        <li class="<%= 'active' if action_name == 'yacht_rentals' %>">
          <%= link_to t('navigation.yacht_rentals'), yacht_rentals_path %>
        </li>
        <li class="<%= 'active' if action_name == 'car_rentals' %>">
          <%= link_to t('navigation.car_rentals'), car_rentals_path %>
        </li>
        <!-- <li class="<%= 'active' if action_name == 'real_estate_sales' || action_name == 'real_estate_rentals' %>">
          <%= link_to '#', "data-toggle" => "dropdown" do %>
            <%= t('navigation.real_estate') %>
            <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li class="<%= 'active' if action_name == 'real_estate_rentals' %>">
              <%= link_to t('navigation.real_estate_rentals'), real_estate_rentals_path %>
            </li>
            <li class="<%= 'active' if action_name == 'real_estate_sales' %>">
              <%= link_to t('navigation.real_estate_sales'), real_estate_sales_path %>
            </li>
          </ul>
          <b class="caret-out"></b>
        </li> -->
        <li><a class="search"><i class="icon-search search-btn"></i></a></li>
      </ul>
      <div class="search-open">
        <div class="input-append">
          <form />
            <input type="text" class="span3" placeholder="Search" />
            <button type="submit" class="btn-u">Go</button>
          </form>
        </div>
      </div>
    </div><!-- /nav-collapse -->
  </div><!-- /navbar-inner -->
</div><!-- /navbar -->
