<div class="navbar">
  <div class="navbar-inner">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a><!-- /nav-collapse -->
    <div class="nav-collapse collapse">
      <ul class="nav top-2">
        <li class="active"><%= link_to t('navigation.home'), '#' %></li>
        <li><%= link_to t('navigation.rentals'), villas_path %></li>
        <li><%= link_to t('navigation.sales'), sales_path %></li>
        <li><%= link_to t('navigation.faq'), '#' %></li>
        <li><%= link_to t('navigation.contact'), '#' %></li>
        <li><a class="search"><i class="icon-search search-btn"></i></a></li>
      </ul>
      <div class="search-open">
        <div class="input-append">
          <form />
            <input type="text" class="span3" placeholder="Search" />
            <button type="submit" class="btn-u">Go</button>
          </form>
        </div>
      </div>
    </div><!-- /nav-collapse -->
  </div><!-- /navbar-inner -->
</div><!-- /navbar -->
