<nav class="top-bar" ng-hide="$route.current.loadedTemplateUrl == '/home/list.html'">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1>
        <%= logo %>
      </h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#menu" target="_self"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="active"><a href="/"><%= t('navigation.home') %></a></li>
      <li>
        <a href="/villas"><%= t('navigation.rentals') %></a>
      </li>
      <li><a href="/sales"><%= t('navigation.sales') %></a></li>
      <% if @phuket %>
        <li><a href="/house_rentals"><%= t('navigation.house_rentals') %></a></li>
        <li><a href="/house_sales"><%= t('navigation.house_sales') %></a></li>
        <li><a href="/yacht_rentals"><%= t('navigation.yacht_rentals') %></a></li>
        <li><a href="/car_rentals"><%= t('navigation.car_rentals') %></a></li>
        <li><a href="/real_estate"><%= t('navigation.real_estate') %></a></li>
      <% end %>
      <% unless @phuket %><li><a href="/faq"><%= t('navigation.faq') %></a></li><% end %>
      <li><a href="/contact"><%= t('navigation.contact') %></a></li>
    </ul>
  </section>
</nav>
