<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6 ng-app:Villa" id="ng-app" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 ng-app:Villa" id="ng-app" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 ng-app:Villa" id="ng-app" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="ng-app:Villa" lang="en" ng-app="Villa"> <!--<![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= @villa.name %></title>
  <%= stylesheet_link_tag    "villa" %>
  <%= javascript_include_tag "villa" %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id="outer_container">
<div id="customScrollBox">
  <div class="container">
      <div class="content">
        <%= yield %>

      </div>
  </div>
</div>
</div>
  <div id="bg">
    <% image = @villa.images.sample %>
    <%= image_tag image.image.url, alt: image.image.file.filename, id: 'bgimg' %>
    <div id="preloader">
      <%= image_tag "ajax-loader_dark.gif", size: '32x32' %>
      LOADING...
    </div>
      <div id="arrow_indicator" title="Open images thumbnails">
        <%= image_tag "sw_arrow_indicator.png", alt: 'Open images thumbnails', size: '50x50' %>
      <div id="nextimage_tip">Click for next image</div>
  </div>

  <%= javascript_include_tag "home" %>
</body>
</html>
